<!-- <app-child [loggedIn]="userloggedIn"></app-child> -->
{{title}}
<a [href]=url>Property Binding</a>

<button (click)=" incrementCount()">Event Binding</button>
<p>clicked {{count}} times</p>
<!-- Two way binding -->
<div>
    <input type="text" [(ngModel)]="username">
    <p>welcome {{username}}</p>
</div>


<!-- separate two way binding -->
<div>
    <input type="text" [ngModel]="name" (ngModelChange)="greet($event)">
    <p>welcome {{name}}</p>
</div>

<!-- by getter and setter method -->
<div>
    <p>by getter and setter </p>
    <input type="text" [ngModel]="firstname" (ngModelChange)="greeting($event)">
    <p>welcome {{firstname}}</p>
</div>

<!-- parent to child by getter and setter -->
<div>
    <button (click)="userloggedIn=true">Log In</button>
    <button (click)="userloggedIn=false">Log Out</button>
    {{userloggedIn}}
</div>
<!-- <app-child [loggedIn]="userloggedIn"></app-child> -->
<app-child #child ></app-child>
{{child.name}}
<button (click)="child.greet()">Greet</button>

<!-- Child to parent by @Output() -->
<!-- <app-child (greetEvent)="welcome($event)"></app-child> -->
<app-childtwo (greetEvent)="welcome($event)"></app-childtwo>

<!-- <app-student></app-student> -->
<app-teacher></app-teacher>